*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    background-image: url('./assets/background-image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
    /* .logo{ 
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
    opacity: 1; 
} */


main{
    
    width: 375px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 100px auto 40px;
    padding: 44px 24px 23px;
    
}


label{
    color: #fdfdfd;
    font-size: 14px;
    font-weight: 400;
}

select, input{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #fdfcfc;
    cursor: pointer;
}

select option{
    background: #2f5bd334;
    color:#000000;
}

select:hover, input:hover{
    border: 1px solid #2f5bd3;
    transition: 0.3s;
    transform: scale(1.05);
} 


.convert-button{
    background: #a2a1a3;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    color: #000000;
    border: none;   
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.convert-button:hover{
    cursor: pointer;
    border: 1px solid #2f5bd3;
    transition: 0.3s;
    transform: scale(1.05);
}

.convert-button:active{
    opacity: 0.6;
    transition: 0.3s;
    transform: scale(.95);
}


section{
    border: 1px solid #627abd;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img{
    margin: 15px 0;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency{
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
